:root {
	--bright1: #FDF7FA;
	--bright2: #F0CDE1;
	--bright3: #E2A3C7;
	--dark1: #D67AB1;
	--dark2: #9B5F88;
	--dark2trans: #9B5F88AA;
	--dark3: #60435F;
	--gray: #332828;
	--graytrans: #332828AA;
	--black: #0D090B
}

html{
	background-color: var(--black);
	color: var(--bright2);
	font-family: Josefin Sans, sans-serif;
}
body {
	overflow: hidden;
	margin: 0;
}
td, p, li{
	font-size: 18px;
	line-height: 1.1;
	margin: 0.4vw;
}

pre{
	font-size: 1vw;
	line-height: 1;
}

.title {
	text-align: center;
	font-size: 2.5vw;
	user-select: none;
}

#the_site {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--dark3);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
}
.bg {
	/* the background. makes the site the height of the page. */
	height: 100%;
}
#after_text{
	text-align: center;
	margin: auto;
}
.after_fade{
	animation-delay: 2s;
	text-align: center;
	overflow: hidden;
	margin: auto;
}

li a:link{
	color: var(--dark2);
}
li a:visited{
	color: var(--dark3);
}
a:link{
	color: var(--bright2);
}
a:visited{
	color: var(--bright3);
}
table{
	width: 100%;
}

td{
	width: 50%;
	border: 1px white solid;
}
td p{
	padding: 0.25vw;
}

h3{
	font-size: 30px;
	line-height: 1;
	margin: 0.5vw;
	padding-top: 1vw;
}
h4{
	font-size: 24px;
	line-height: 1;
	margin: 0.5vw;
	padding-top: 1vw;
	font-style: italic;
}
/*
.ph {
	color: #666;
}
*/
/*
.lonks{
	margin-top: 10px;
}
*/
/* NEW STUFF */

#wheel {
	user-select: none;
	z-index: -2;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 10px solid var(--dark2trans);
	border-radius: 50%;
	line-height: 1;
}
#wheel ul {
	position: absolute;
	list-style: none;
	top: 50%;
	left: 50%;
	margin: 0px;
}
#wheel ul li {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	transform: translate(-50%, -50%);
	text-align: center;
	vertical-align: middle;
	color: var(--dark3);
	background-color: var(--bright2);
	border-radius: 50%;
	border: 0.3vw solid var(--dark2);
	font-size: 1.5vw;
}

h3 img {
	height: 5vw;
}

#the_info_anim{
	position: absolute;
	top: 50%;
	width: 80%;
	height: max-content;
	margin: 0px 10% 0px 10%;
	background-color: var(--graytrans);
	border: 5px solid var(--dark2);
	animation-name: enlarge;
	animation-delay: 0.2s;
	animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
	animation-duration: 1s;
	animation-fill-mode: forwards;
	transform: scaleY(0) translate(0%, -50%);
	border-radius: 3vw;
}
#the_info{
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	top: 50%;
	overflow: clip;
	height: 100%;
	position: relative;
	opacity:0;
	padding: 3vw;
	border-radius: 2vw;
	color: var(--bright1);
	/*transform: translate(0%, -50%);*/
	animation-name: text;
	animation-delay: 0.4s;
	animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
#socials {
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 1fr;
	text-align: center;
}
@keyframes enlarge {
	from {
		transform: scaleY(0) translate(0%, -50%);
	}
	to {
		transform: scaleY(1) translate(0%, -50%);
	}
}
@keyframes text {
	from {
		opacity:0
	}
	to {
		opacity:1
	}
}
