html {
	font-family: "Arial";
}

table {
	overflow: scroll;
	table-layout: auto;
}

table, tr, td{
	border: 1px solid black;
	border-collapse: collapse;
}

tr.headers1 td, tr.headers2 td{
	text-align: center;
	border-bottom: 2px solid black;
}

td{
	text-align: right;
	min-width: 60px;
	white-space: nowrap;
	padding: 5px;
}

#vg{
	background: #88FF88;
}

#g{
	background: #BBFFBB;
}
#sg{
	background: #DDFFDD;
}

#sb{
	background: #FFDDDD;
}
#b{
	background: #FFBBBB;
}

#vb{
	background: #FF8888;
}

.acknowledgements{
	border-top: 2px solid black;
	font-style: italic;
	text-align: center;
}

.mode, .headers2{
	cursor: pointer;
}