body {
	background: #ddd;
	font-family: "Arial";
}

h1, h3 {
	text-align: center;
}

.item {
	width: 50%;
	align: center;
	margin: auto;
	line-height: 1.5;
	background: #bbb;
	margin-top: 10px;
	border-radius: 5px;
}

.item h4{
	padding: 10px;
	font-size: 24px;
	background: #333;
	color: #ddd;
	text-align: center;
	margin: 0;
	border-radius: 5px;
}

.stats {
	padding: 10px;
}
p {
	margin: 0
}