:root {
	--bright1: #FDF7FA;
	--bright2: #F0CDE1;
	--bright3: #E2A3C7;
	--dark1: #D67AB1;
	--dark2: #9B5F88;
	--dark2trans: #9B5F88AA;
	--dark3: #60435F;
	--gray: #332828;
	--graytrans: #332828AA;
	--black: #0D090B
}

html{
	background-color: var(--black);
	color: var(--bright2);
	font-family: 'Signika', sans-serif;
}
body {
	margin: 0;
	overflow-x: hidden;
}

td, p, li{
	font-size: 20px;
	line-height: 1.2;
}

.bg {
	/* the background. makes the site the height of the page. */
	background-color: var(--graytrans);
	height: 100%;
}
#the_info{
	background-color: var(--black);
	width: 50%;
	margin:auto;
	padding: 3vh;
	padding-top: 10vh;
	position: relative;
	top: 0%;
	border-color: var(--dark2);
	border-width: 0px 1vw 0px 1vw;
	border-style: solid;
	min-height: 87vh;
}
.center{
	text-align: center;
}

a:link{
	color: var(--bright1);
}
a:visited{
	color: var(--bright2);
}
h1{
	font-size: 54px;
	line-height: 1;
	margin: 0.5vw;
	text-align: center;
}
canvas {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 99%;
	z-index: -5;
}

.date {
	font-size: 24px;
}

.tags {
	font-size: 18px;
	color: var(--bright3);
}
.card {
	width: 30%;
	border: 3px solid var(--gray);
	padding: 1%;
	margin: 0.5%;
	border-radius: 2%;
}
.card_holder {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.nick {
	font-size: 28px;
}
/*
.pkmn img {
	height: 64px;
}*/
/* pokemon types */
.normal {color: #A8A77A;}
.fire {color: #EE8130;}
.water {color: #6390F0;}
.electric {color: #F7D02C;}
.grass {color: #7AC74C;}
.ice {color: #96D9D6;}
.fighting {color: #C22E28;}
.poison {color: #A33EA1;}
.ground {color: #E2BF65;}
.flying {color: #A98FF3;}
.psychic {color: #F95587;}
.bug {color: #A6B91A;}
.rock {color: #B6A136;}
.ghost {color: #735797;}
.dragon {color: #6F35FC;}
.dark {color: #705746;}
.steel {color: #B7B7CE;}
.fairy {color: #D685AD;}

.nat_min {color: #6376b8;}
.nat_plu {color: #ed5540;}